{% extends "main.html.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/user-info.css">
    <script src="/scripts/user-update.js"></script>
    <title>твой профиль</title>
{% endblock %}
{% block content %}
    <p class="profile-title">твой профиль</p>
    <form class="profile" id="profile">
        <div class="img-container">
            <p class="label">ваше фото</p>
            <label for="img-input">
                <img class="img" src="/images/profile-photo.png" alt="">
            </label>
            <input id="img-input" name="img" class="hidden" type="file" accept="image/jpeg, image/jpg, image/png, image/gif">
            <div>
                <button type="submit" href="{{path('update_user', {id: user.getId})}}" class="update-button">обновить</button>
            </div>
        </div>
        <div class="column-info">
            <div class="container">
                <div class="label">имя</div>
                <input class="value" id="first-name" value="{{user.getFirstName}}">
            </div>
            <div class="container">
                <div class="label">фамилия</div>
                <input class="value" type="text" id="last-name" value="{{user.getLastName}}">
            </div>
            <div class="container">
                <div class="label">телефон</div>
                <input class="value" id="phone" value="{{user.getPhone}}">
            </div>
            <div class="container">
                <div class="label">адрес</div>
                <input class="value" id="adress" value="{{user.getAdress}}">
            </div>
            <div class="container">
                <div class="label">email</div>
                <input class="value" id="email" value="{{user.getEmail}}">
            </div>
            <div class="container">
                <div class="label">password</div>
                <input type="password" class="value" id="password" value="">
            </div>
        </div>
    </form>
{% endblock %}